.submenu li {
    width: 240px;
    margin: 8px 5px 0;
    padding: 10px;
    display: flex;
}

.submenu li a {
    font-size: 20px;
    margin: auto 5px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 3px rgb(189, 42, 91);
}

.submenu li .fa-cannabis {
    font-size: 25px;
    margin: 10px 5px;
    color: rgb(1, 145, 87);
}

.contenido {
    display: flex;
}

.publicidad_i, .publicidad_d {
    width: 20%;
    height: auto;
    margin: auto;
}

.publicidad_d img, .publicidad_i img {
    width: 100%;
    height: 10%;
    margin: 5px auto;
}

.publicacion {
    width: 45%;
    height: auto;
    margin: 10px auto;
}

.publicacion .publicado {
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background: rgb(71,70,70);
    border-radius: 10px;
}

.publicado img {
    width: 250px;
    height: 300px;
    margin: 10px auto;
}

.publicado p{
    clear: both;
    text-align: justify;
    padding: 10px;
    margin: auto 15px;;
}
.welcome {
    width: 90%;
    height: auto;
    margin: 10px auto ;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(71,70,70);
}

.welcome h3{
    font-size: 30px;
    margin: auto;
    padding: 15px;
}
.welcome h4{
    font-size: 20px;
    margin:auto ;
    padding: 10px;
}

.agregar {
    width: 100px;
    height: 40px;
    margin: auto 35% 10px;
    border-radius: 15px;
    background-color: rgb(1,145,87);
    border: none;
    color: #fff;
}

.agregar:hover{
    transform: scale(105%);
    opacity: 0.7;
}
